<div class="nav d-flex flex-column flex-md-row align-items-center py-3 mb-4 px-5 border-bottom container ">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <app-header></app-header>
  </a>
  <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <app-login-button></app-login-button>

    <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sobre</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#"></a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Favoritos</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Meu carrinho</a> -->
  </div>
</div>