<div class="form-group container-lg">
  <div class="sign-in row col-3 mx-auto d-flex justify-content-center text-center py-4">
    <p class="h5 mb-5">Acesse sua conta</p>
      <input class="form-control my-2 w-75" type="text" placeholder="Login = user" value="user">
      <input class="form-control mb-4 w-75" type="password" placeholder="Senha = 1234" value="1234">
      <button class="login-btn btn btn-outline-primary col-4 mx-auto">Entrar</button>
      <span class="register">Novo por aqui? Cadastre-se</span>
  </div>
</div>