/* You can add global styles to this file, and also import other style files */
app-search{
  position: fixed;
  top: 1rem;
  left: 25rem;
  z-index: 1000;
}

.container-xxl {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 auto !important;
}

.container-lg{
  margin-top: 6rem;
  min-height: 75vh;
}

.container{
  max-width: 100vw;
  padding-left: 10vw !important;
  padding-right: 12vw !important;
}

html{
  overflow-x: hidden;
}

.card{
  box-shadow: 1px 1px 5px #999;
}
